:root {
    --main-background-color: #00a4d6;
    --second-background-color: #ffffff;
    --third-background-color: rgba(0, 0, 0, 0.7);
    --main-font-color: #000000;
    font-size: 22px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p + p {
    margin-top: 10px;

}

.colored_image {
    filter: invert(52%) sepia(36%) saturate(5285%) hue-rotate(162deg) brightness(96%) contrast(101%);
    /* border: solid; */
}

body {
    display: grid;
    grid-template-columns: 3fr 4fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    background-image: url("background_image3.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template: 6fr auto 8fr / 1fr;
    grid-template-areas: 
    "."
    "a"
    ".";
}

.sidebar > div {
    grid-area: a;
    background-color: var(--third-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 3.5rem;
    color: var(--second-background-color);
    padding: 10px;
}

.icon {
    /* width: auto; */
    height: 140px;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--main-font-color);
    border-left: none;
    /* gap: 10%; */

    /* background-image: url("background_image.svg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover; */
}

.content-block {
    width: 90%;
    /* font-size: 1.5rem; */
    padding: 10px;
    background-color: var(--third-background-color);
    border-radius: 10px;
    display: grid;
    gap: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);;
    border: 1px solid var(--main-font-color);
    margin-top: auto;
    margin-bottom: auto;
}

.content-block > * {
    background-color: var(--second-background-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    border: 1px solid var(--main-font-color);
    overflow: auto;
    padding: 20px;
}

button {
    height: 50px;
    width: 300px;
    background-color: var(--third-background-color);
    border: none;
    border-radius: 10px;
    color: var(--second-background-color);
    font-weight: 700;
}

.content_ribbon {
    background-color: var(--third-background-color);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.content_ribbon > img {
    height: 100%;
    filter: brightness(0) invert(1);
} 

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 20px;
}

form > div {
    display: flex;
    flex-direction: column;
}

form input {
    height: 30px;
}

.input {
    font-size: 0.7rem;
}

.form-title {
    grid-column-start: 1;
    grid-column-end: 3;
}